<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatbot</title>
   
</head>
<body>

<div class="chat-container">
  <div class="chatbot-img-section">
    <div> <img  class="chatbot-icon" height="30px" width="30px" src= '../assets/chatBot.svg'/> LSEG ChatBot</div>
  </div>
  <div >
   
    <div class="chat-box" id="chat-box">
      <label class="welcome-first-message">{{welcomeMessage}}</label>
  </div>
  <div class="stock-exchange-section" *ngIf="welcomeMessage">
    <div class="welcome-message-header">
      <label class="welcome-message">Please select a stock Exchange</label>
    </div>
      
      <div *ngFor="let stockExchange of stockExchangeData">   
          <div class="label-text">
            <label (click)="fetchStockDetails(stockExchange)">{{stockExchange.stockExchange}}</label>
          </div>
      </div>
     
  </div>
  <div class="selected-exchange-label"  *ngIf="selectedStockExchange">
    <label class="exchange-label">{{selectedStockExchange}}</label>
  </div>

  <div class="stock-exchange-section second-section" *ngIf="selectedStockExchange && stockData.length >0">
    <div  class="welcome-message-header">   
      <label  class="welcome-message" >
        Please select a stock
      </label>
    </div>    
      <div *ngFor="let stock of stockData">   
          <div class="label-stock-text">
            <label (click)="fetchStockPrice(stock)">{{ stock.stockName }}</label>
          </div>
      </div>    
  </div>

  <div class="selected-stock-label"  *ngIf="selectedStockName">
    <label class="exchange-label">{{selectedStockName}}</label>
  </div>

  <div class="stock-exchange-section third-section" *ngIf="selectedStockName && selectedStockPrice">
    <div  class="welcome-message-header">   
      <label  class="welcome-message" >
        stock price of the {{ selectedStockName }} is {{ selectedStockPrice }}.Please select an option
      </label>
    </div>    
     
          <div class="label-text">
            <label (click)="clearAll()">Main Menu</label>
          </div>

          <div class="label-text">
            <label (click)="goBack()">Go Back</label>
          </div>
         
  </div>
  </div>
  
</div>



</body>
</html>
